*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

:root{
    --x: 400px;
    --y: 400px;
}

main{
    height: 100%;
    width: 100%;
}

section{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: top;
    justify-content: center;
}

section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.spotlight{
    position: absolute;
    inset: 0;
    pointer-events: none;

    background: radial-gradient(
        150px at var(--x) var(--y),
        transparent,
        rgba(0,0,0,0.97)
    );
}

.matrix{
    position: absolute;
    margin-top: 20px;
}
.matrix h1{
    height: 80px;
    width: 900px;
    background-color: rgba(0, 0, 0, 0.867);
    color : rgb(2, 211, 2);
    text-align: center;
    padding: 5px;
    font-size: 50px;
}